@media (max-width: 576px) {
	// <----------NAV---------->
	.menu-active {
		.nav__items {
			a {
				margin: 0.5em;
			}
		}
	}
}

@media (min-width: 576px) {
	// <----------HEADER---------->
	.header {
		.container {
			padding: 0 3em;
		}

		&__image {
			bottom: -4em;
			img {
				width: 100%;
			}
		}
	}
}
